body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
h1{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    margin: 0px 0px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.text-highlight{
    color: #FF8367;
}
.first-para{
    color: #3E3E3E;
    width: 60%;
    margin-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, #FF8063, #F46060);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.introduction{
    height: 500px;
}
.profile-pic{
    width: 80%;
}
h2.about{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    margin:5px 0px 0px 0px;
}
.about-div{
    margin-top: 2%;
    padding-left: 8%;
}
.second-para{
    color: #3E3E3E;
    width: 75%;
    margin-bottom: 50px;
}
section{
    margin-top: 1%;
    height: 500px;
}
.card-section{
    background-color: #F8F9FC;
    height: 600px;
}
.lastet{
    text-align: center;
    padding: 5% 0%;
}
.card-img{
    width: 90%;
    padding: 15px 15px 0px 15px;
}
.card{
    width: 300px;
    height: 310px;
    float: left;
    box-shadow: 0px 0px 10px 0px #e6e8ee;
    background-color: white;
    margin-left: 5%;
    border-radius: 10px;
    
}
.allcard{
    margin-left: 8%;
    margin-right: 8%;
}
.card-caption{
    padding-left: 15px;
}
h3{
    color: #363958;
}
.work-div{
    background-image: url("images/background.png");
    height: 225px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px ;
  position: relative;
  margin: 0px 400px;
  padding: 100px 50px 0px 50px;
}
.last-part{
    float: left;
    color:white;
    padding-left: 15px;
}
.last-button{
    padding-top: 50px;
    padding-left: 130px;
}
.work{
    padding-top: 30px;
}